<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div ng-cloak>
    <div class="row">
        <div class="col-md-6">
            <center><h1>Welcome to Robot Turtles</h1></center>
            <md-button class="md-raised md-primary" ng-click="createGame()">
                + Create New Game !
            </md-button>
            <a href="RobotTurtles.pdf" target="_blank">Rules are Here</a>
            <md-input-container ng-hide="currentGame.started">
                <label>Player Name</label>
                <input ng-model="playerName" placehoder="Player name" id="playerName"
                        />
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="addPlayer()"
            ng-hide="currentGame.started">
                + Add Player
            </md-button>
            <md-button class="md-raised md-primary" ng-click="startGame()"
                       ng-hide="currentGame.started">
                <i class="material-icons" style="position: absolute;top: 5px;">play_arrow</i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start Game
            </md-button>

            <div ng-repeat="player in currentGame.players track by $index" class="playerInfoWrapper">
                <img ng-src="{{'content/images/turtle' + (player.playerNumber) + '.png'}}" width="40"/>
                <b>{{player.playerName}} ({{player.direction}})</b>
                <div ng-if="shouldSeeInfo(player) ">
                    has cards in Hands :
                    <span ng-repeat="card in player.handCards track by $index" ng-click="clickOnCardInHand($index, $parent.$index)">
                        <img ng-src="{{'content/images/cards/' + (card.cardName) + '.png'}}" width="40"/>
                    </span>
                    <br/>
                    Program is :

                    <span ng-repeat="card in player.program track by $index">
                        <img ng-src="{{'content/images/cards/' + (card.cardName) + '.png'}}" width="40"/>
                    </span>
                </div>

                <br/>
                Tiles are :
                <span ng-repeat="tile in player.tiles track by $index" ng-click="chooseWall(tile.panelName)">
                    <img ng-src="{{'content/images/' + (tile.panelName) + '.png'}}" width="40"/>
                </span>


                <div ng-if="$index == currentGame.currentIdPlayerTurn && isCurrentPlayer(currentGame.idGame, currentGame.currentIdPlayerTurn)  && !currentGame.finished && currentGame.started">

                    <!--
                    It's your Turn ! Choose your action:
                    <md-input-container>
                        <label>Move</label>
                        <input ng-model="moveEntry" placehoder="1;BYL;BB" id="moveEntry"/>
                    </md-input-container>
                    <md-button class="md-fab md-primary md-hue-2" ng-click="sendMove($index)">
                        <i class="material-icons moveUp">play_arrow</i>
                    </md-button>
                    -->
                    It's Your Turn to play !
                    <div ng-if="steps.chooseMoveStep">
                        Choose Your Move:
                        <md-button class="md-fab md-primary md-hue-2" ng-click="chooseMove(2, $index)">
                            <i class="material-icons buildMove">build</i>
                        </md-button>
                        <md-button class="md-fab md-primary md-hue-2" ng-click="chooseMove(1, $index)">
                            <i class="material-icons addCardMove">playlist_add</i>
                        </md-button>
                        <md-button class="md-fab md-primary md-hue-2" ng-click="chooseMove(3, $index)">
                            <i class="material-icons playCardsdMove">playlist_play</i>
                        </md-button>
                    </div>
                    <div ng-if="steps.buildMoveStep">
                        Choose your wall and then click on the cell of the grid where you want to place it.<br/>
                        <span ng-if="wallType">
                            You have chosen a:
                            <img ng-src="{{'content/images/' + (wallType) + '.png'}}" width="40"/>
                        </span>
                        When cell is chosen, press confirm:
                        <md-button class="md-fab md-primary md-hue-2" ng-click="validateWallPosition()">
                            <i class="material-icons validateWallPosition">done</i>
                        </md-button>
                    </div>
                    <div ng-if="steps.chooseCardsStep">
                        Please choose your cards to add to the program
                        <span ng-repeat="card in currentProgram track by $index" ng-click="clickOnCardProgram($index, $parent.$index)">
                            <img ng-src="{{'content/images/cards/' + (card.cardName) + '.png'}}" width="40"/>
                        </span>
                        When cards are chosen, press confirm:
                        <md-button class="md-fab md-primary md-hue-2" ng-click="validateCardProgram(playerIndex)">
                            <i class="material-icons validateWallPosition">done</i>
                        </md-button>
                    </div>
                    <div ng-if="steps.foldCardsStep">
                        Choose your card to fold.<br/>
                        <span ng-repeat="card in currentCardToFold track by $index" ng-click="clickOnCardToFold($index, $parent.$index)">
                            <img ng-src="{{'content/images/cards/' + (card.cardName) + '.png'}}" width="40"/>
                        </span>
                        When cards are chosen, press confirm:
                        <md-button class="md-fab md-primary md-hue-2" ng-click="validateCardToFold($index)">
                            <i class="material-icons validateWallPosition">done</i>
                        </md-button>
                    </div>
                </div>
            </div>
            <br/>
            <md-list-item class="md-3-line" ng-repeat="game in games" ng-click="selectGame(game)"
                          ng-class='game == currentGame.idGame ? "selectedGame" : ""'>

                <div class="md-list-item-text" layout="column">
                    <h3>Game {{ game }}</h3>
                </div>
            </md-list-item>
        </div>

        <div class="col-md-6 background">
            <div style="margin: 10px; ">
                <h3>Game {{ currentIdGame }} - Turn {{ currentGame.turnCount }}
                    <md-button class="md-raised md-primary" ng-click="changeGrid(-1)"
                               ng-if="currentGame.turnCount != 0"> < </md-button>
                    <md-button class="md-raised md-primary" ng-click="changeGrid(+1)"
                               ng-if="currentGame.turnCount != currentGame.gridHistory.length"> > </md-button>
                </h3>

                <div ng-if="currentGame.finished">
                    <div ng-repeat="player in currentGame.leaderboard">
                        - {{ $index + 1}}. ({{player.playerName}}) <span ng-if="$index == 0">Winner !</span>
                    </div>
                </div>

                <table ng-if="currentGame.started">
                    <tbody>
                        <tr>
                            <td></td>
                            <td class="indexCell" ng-repeat="n in '01234567'">{{n}}</td>
                            <!--<td class="indexCell" ng-repeat="n in 'ABCDEFGH'">{{n}}</td>-->
                        </tr>
                        <tr ng-repeat="line in getGridToDisplay() track by $index">
                            <td class="indexCell">{{$index}}</td>
                            <td ng-repeat="cell in line track by $index"
                                ng-click="chooseWallPosition($parent.$index, $index)"
                                ng-class="{'emptyCell': cell.panelName == 'EMPTY'}"
                            >
                                <div ng-if="cell.panelName == 'PLAYER'" class="playerContainer">
                                    <img ng-src="{{'content/images/turtle' + (cell.playerNumber) + '.png'}}" width="40"/>
                                    <br/>
                                    <i ng-if="cell.direction == 'NORTH'" class="material-icons">arrow_upward</i>
                                    <i ng-if="cell.direction == 'SOUTH'" class="material-icons">arrow_downward</i>
                                    <i ng-if="cell.direction == 'WEST'" class="material-icons">arrow_back</i>
                                    <i ng-if="cell.direction == 'EAST'" class="material-icons">arrow_forward</i>

                                </div>

                                <div ng-if="cell.panelName != 'PLAYER' && cell.panelName != 'EMPTY'" class="playerContainer">
                                    <img ng-src="{{'content/images/' + (cell.panelName) + '.png'}}" width="40"/>
                                </div>


                            </td>
                        </tr>
                    </tbody>
                </table>
                <md-card class="move-container">
                    <div ng-repeat="record in currentGame.moveRecords  | orderBy: reverse:true"
                         id="moveRecords{{record.turnNumber}}">
                        <b>Turn {{record.turnNumber}}. {{record.playerName}} play {{ record.title }}</b><br/>
                        <div ng-repeat="desc in record.description track by $index">
                            {{desc}}
                        </div>
                        <span ng-if="record.numberOfCardFold != 0"> Player has fold {{record.numberOfCardFold}} cards.</span>
                    </div>
                </md-card>
            </div>
        </div>
    </div>
</div>


<style>
    tbody.odd {
        background-color: lightgrey;
    }
    td {
        border: black 2px solid;
        padding: 4px;
        min-width: 50px;
    }
     .oxygenText {
        position: absolute;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: white;
        top: 17px;
        left: 18px;
        font-size: 23px;
    }
    .chestContainer {
        position: relative;
        height: 50px;
    }
    .chestContainer img {
        position: absolute;
    }
    .chestContainer span {
        position: absolute;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: white;
        top: 15px;
        left: 15px;
        font-size: 21px;
    }
    td {
        height: 47px;
        font-weight: bold
        color: white;
    }

    .playerInfoWrapper {
        border: grey 1px solid;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
    .moveUp {
        margin-top: 3px;
        margin-left: -3px;
        font-size: 50px !important;
    }
    .moveDown {
        margin-top: 6px;
        margin-left: -3px;
        font-size: 50px !important;
    }
    .movePick {
        margin-top: 7px;
        margin-left: 2px;
        font-size: 42px !important;
    }
    .selectedGame {
        background-color: rgb(220,220,220);
    }
    .background {
        min-height: 800px;
        min-width: 700px;
        background:url(content/images/background.jpeg) 0 0 no-repeat;
        position: absolute;
        right: 0px;
        opacity: 1;
    }
    .indexCell {
        text-align: center;
    }
    .move-container {
        margin-right: 60px;
        padding: 5px;
        height: 150px;
        overflow: scroll;
        height: 150px;
        width: 500px;
        opacity: 0.9;
        overflow: scroll;
        position: fixed;
        bottom: 0px;
        z-index: 100;
    }

    .buildMove, .validateWallPosition {
        margin-top: 6px;
        margin-left: -3px;
        font-size: 40px !important;
    }
    .addCardMove {
        margin-top: 3px;
        margin-left: 0px;
        font-size: 50px !important;
    }
    .playCardsdMove {
        margin-top: 3px;
        margin-left: px;
        font-size: 50px !important;
    }
    .emptyCell {
        cursor: pointer;
    }
</style>
